@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body,
html {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 48px;
    font-family: Roboto, Lato, sans-serif;
}